<div class="paginadocente-container">
  <button class="boton-cerrar-sesion" (click)="logout()">Cerrar sesión</button>
  
  <header class="encabezado">
    <h1 class="titulo-principal">INVESTIGACION OPERATIVA 1</h1>
  </header>

  <!-- Botón Volver -->
  <button class="boton-volver" (click)="volverAParalelos()">
    <span class="icono-volver">&#8592;</span> Volver
  </button>

  <!-- Documentos -->
  <section class="contenido" *ngIf="tabSeleccionado === 'documentos'">
    <h3 class="titulo-seccion">Lista documentos</h3>

    <div *ngFor="let competencia of competencias">
      <h4 class="subtitulo-competencia">{{ competenciaLabels[competencia] }}</h4>
      <div class="grid-documentos">
        <div
          class="card-doc"
          *ngFor="let doc of obtenerItemsPorCompetencia(competencia)">
          <div class="icono-doc">📄</div>
          <p class="nombres-archivos">{{ doc.nombre }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Formulario emergente -->
  <div *ngIf="mostrarFormulario" class="modal-formulario">
    <h3 class="titulo-subir">Subir {{ tabSeleccionado }}</h3>
    <input class="nombres-archivos" type="file" (change)="onFileChange($event)" />

    <label for="materia">Materia:</label>
    <input type="text" id="materia" [value]="materiaSeleccionada" readonly />

    <label for="competencia">Competencia:</label>
    <select [(ngModel)]="competenciaSeleccionada" id="competencia">
      <option value="" disabled selected>Seleccione una competencia</option>
      <option *ngFor="let c of competencias" [value]="c">{{ competenciaLabels[c] }}</option>
    </select>

    <button (click)="subirArchivo()">Subir</button>
    <button (click)="cerrarFormulario()">Cancelar</button>
  </div>

  <!-- Botón flotante + menú -->
  <div class="menu-agregar" [class.abierto]="menuAbierto">
    <button class="boton-agregar" (click)="toggleMenu()">+</button>
    <ul class="submenu" *ngIf="menuAbierto">
      <li (click)="abrirFormulario('documentos')">Documento</li>
    </ul>
  </div>

  <div class="eliminarEst">
    <button class="btn-eliminarEst" (click)="desplFormEliminarEst()">Eliminar Estudiante</button>
  </div>
</div>



<div class="fondo" id="formElEstudiante">
    <div class="cont-form">
        <h2 class="cont-titulo">Eliminar Estudiante</h2>
        <form class="form" action="">
            <select name="paralelosMat" id="paralelosMat" class="selector">
                <option value="" selected id="defecto">Seleccionar paralelo</option>
                <option *ngFor="let paralelo of paralelos" [value]="paralelo">{{ paralelo }}</option>
            </select>
            <input type="text" placeholder="Ingresa el correo del estudiante" name="correoEst" id="correoEst" class="inputs">
            <div class="cont-botones">
                <button type="button" (click)="eliminarUsuario()" id="btn-eliminar-est" class="btns">Eliminar Estudiante</button>
                <button type="button" (click)="cancelar()" id="btn-cancelar-form" class="btns">Cancelar</button>
            </div>
        </form>
    </div>
</div>