<div class="paginadocente-container">
  <header class="encabezado">
    <h1 class="titulo-principal">INVESTIGACION OPERATIVA 1</h1>
    <!-- <button class="boton-eliminar" (click)="recuperarParalelosPorMateria()">Eliminar Estudiante</button> -->
    <nav class="menu-tabs">
      <span (click)="seleccionarTab('ejercicios')">Ejercicios</span>
      <span (click)="seleccionarTab('documentos')">Documentos</span>
      <span (click)="seleccionarTab('presentaciones')">Presentaciones</span>
      <span (click)="recuperarParalelosPorMateria()">Eliminar Estudiante</span>
    </nav>
  </header>

  <!-- Sección para Documentos -->
<section class="contenido" *ngIf="tabSeleccionado === 'documentos'">
  <h3 class="titulo-seccion">Lista documentos</h3>
  <div class="grid-documentos">
    <div class="card-doc" *ngFor="let doc of documentos">
      <div class="icono-doc">📄</div>
      <p>{{ doc.nombre }}</p>
    </div>
  </div>
</section>

<!-- Sección para Ejercicios -->
<section class="contenido" *ngIf="tabSeleccionado === 'ejercicios'">
  <h3 class="titulo-seccion">Lista ejercicios</h3>
  <div class="grid-documentos">
    <div class="card-doc" *ngFor="let ejercicio of ejercicios">
      <div class="icono-doc">📘</div>
      <p>{{ ejercicio.nombre }}</p>
    </div>
  </div>
</section>

<!-- Sección para Presentaciones -->
<section class="contenido" *ngIf="tabSeleccionado === 'presentaciones'">
  <h3 class="titulo-seccion">Lista presentaciones</h3>
  <div class="grid-documentos">
    <div class="card-doc" *ngFor="let presentacion of presentaciones">
      <div class="icono-doc">📊</div>
      <p>{{ presentacion.nombre }}</p>
    </div>
  </div>
</section>
  <!-- Botón flotante para agregar documentos -->
  <button class="boton-agregar" (click)="abrirModalAgregar()">+</button>
</div>

<div class="fondo" id="formElEstudiante">
    <div class="cont-form">
        <h2 class="cont-titulo">Eliminar Estudiante</h2>
        <form class="form" action="">
            <select name="paralelosMat" id="paralelosMat" class="selector">
                <option value="" selected id="defecto">Seleccionar paralelo</option>
                <option *ngFor="let paralelo of paralelos" [value]="paralelo">{{ paralelo }}</option>
            </select>
            <input type="text" placeholder="Ingresa el correo del estudiante" name="correoEst" id="correoEst" class="inputs">
            <div class="cont-botones">
                <button type="button" (click)="eliminarUsuario()" id="btn-eliminar-est" class="btns">Eliminar Estudiante</button>
                <button type="button" (click)="cancelar()" id="btn-cancelar-form" class="btns">Cancelar</button>
            </div>
        </form>
    </div>
</div>