<div class="fondo" id="formEliminar">
    <div class="cont-form">
        <h2 class="cont-titulo">Eliminar paralelo</h2>
        <form class="form" action="">
            <select name="materiaEl" id="materiaEl" class="selector">
                <option value="" selected id="defecto">Seleccionar materia</option>
                <option value="Investigacion Operativa 1">Investigacion Operativa 1</option>
                <option value="Investigacion Operativa 2">Investigacion Operativa 2</option>
            </select>
            <input type="text" placeholder="Ingresa el número de paralelo" name="paraleloEl" id="paraleloEl" class="inputs">
            <div class="cont-botones">
                <button type="button" (click)="eliminar()" id="btn-el" class="btns">Eliminar Paralelo</button>
                <button type="button" (click)="cancelar()" id="btn-cancelar" class="btns">Cancelar</button>
            </div>
        </form>
    </div>
</div>