<div class="iniciosesion-container">
  <div class="cartas-login">
    <div class="header-login">
      <div class="logo">
        <span class="logo-texto">IO</span>
      </div>
      <h2>Bienvenido a Investigación Operativa</h2>
      <p>Por favor, ingresa tu nombre para continuar</p>
    </div>
    <!-- <form (ngSubmit)="ingresar()">
      <input type="text" [(ngModel)]="nombre" name="nombre" required placeholder="Tu nombre" />
      <button type="submit">Ingresar</button>
    </form> -->
  </div>
</div>
